@model Estado

<h1>Cadastro Estado</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <button class="btn btn-primary">Cadastrar</button>
    <a asp-action="index" class="btn btn-outline-dark">Estados</a>

</form>