@model Cidade

<h1>Edição Cidade</h1>

<form asp-action="editar">

    <input asp-for="CidadeId" />
    <partial name="_Form" />

    <button class="btn btn-primary">Editar</button>
    <a asp-action="index" class="btn btn-outline-dark">Voltar</a>

</form>