@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Is it Acessible?</h1>
    <h1 class="display-4">Seja bem-vindo ao Is it Acessible?</h1>

    <p>
        Nossa solução tem como objetivo ser uma plataforma, no qual as pessoas possam cadastrar de locais que tenham acessbilidade.
        Para que assim seja criada uma comunidade em que pessoas contribuam informando locais que tenham acessibilidade.
    </p>
    <hr />
</div>

<div class="text-left">
    <h2>Funcionalidades</h2>
    <p>O usuário pode realizar o CRUD completo para seguintes Entidades:</p>
    <ul>
        <li>Estado</li>
        <li>Cidade</li>
        <li>Bairro</li>
        <li>Logradouro</li>
        <li>Local</li>
        <li>Acessibilidade</li>
    </ul>
</div>

<p>Imagem Modelagem</p>
<img src="~/imgs/img_modelagem.png" alt="imagem modelagem" />
