@{
    ViewData["Title"] = "Integrantes";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    <div class="row">

        <!--Gabriel-->
        <div class="col-sm">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><img src="~/imgs/foto_gabriel.jpeg" width="150" alt="foto gabriel"></div>
                <div class="card-body">
                    <h4 class="card-title">Gabriel Sun</h4>
                    <p class="card-text">Back-End</p>
                    <a href="https://www.linkedin.com/in/gabriel-sunn/" class="btn btn-primary">Linkedin</a>
                    <a href="https://github.com/BielSunn" class="btn btn-secondary">Git Hub</a>
                </div>
            </div>
        </div>

        <!--Gabriel 2-->
        <div class="col-sm">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"><img src="~/imgs/foto_gabriel.jpeg" width="150" alt="foto gabriel"></div>
                <div class="card-body">
                    <h4 class="card-title">Gabriel Sun</h4>
                    <p class="card-text">Back-End</p>

                    <a href="https://www.linkedin.com/in/gabriel-sunn/">
                        <img src="~/imgs/icone_linkedin.png" width="80" alt="icone Linkedin" />
                    </a>

                    <a href="https://github.com/BielSunn">
                        <img src="~/imgs/icone_git.jpg" width="80" alt="icone Github" />
                    </a>
                </div>
            </div>
        </div>

        <!--Kleber-->
        <div class="col-sm">
            <div class="card border-success  mb-3" style="max-width: 20rem;">
                <div class="card-header"><img src="" width="150" alt="foto kleber"></div>
                <div class="card-body">
                    <h4 class="card-title">Kleber</h4>
                    <p class="card-text">Banco de Dados / Devops</p>
                    <a href="" class="btn btn-primary">Linkedin</a>
                    <a href="https://github.com/rm88711" class="btn btn-secondary">Git Hub</a>
                </div>
            </div>
        </div>

        <!--Renato-->
        <div class="col-sm">
            <div class="card border-warning   mb-3" style="max-width: 20rem;">
                <div class="card-header"><img src="~/imgs/foto_renato.jpg" width="150" alt="foto renato"></div>
                <div class="card-body">
                    <h4 class="card-title">Renato</h4>
                    <p class="card-text">Mobile / Front-End</p>
                    <a href="https://www.linkedin.com/in/renatoesmail/" class="btn btn-primary">Linkedin</a>
                    <a href="https://github.com/renas7" class="btn btn-secondary">Git Hub</a>
                </div>
            </div>
        </div>

    </div>
</div>
