@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Integrantes</h2>

<div class="card">
    <img src="~/imgs/foto_gabriel.jpeg" width="150" alt="...">

    <div class="card-body">
        <h5 class="card-title">Gabriel Sun</h5>
        <p class="card-text">Back-End</p>
        <a href="https://www.linkedin.com/in/gabriel-sunn/" class="btn btn-primary">Linkedin</a>
    </div>
</div>