@model Local


<h1>Cadastro Local</h1>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <button class="btn btn-primary">Cadastrar</button>
    <a asp-action="index" class="btn btn-outline-dark">Locais</a>

</form>


