@model Local


<h1>Edição Local</h1>

<form asp-action="editar">

    <input asp-for="LocalId" />
    <partial name="_Form" />

    <button class="btn btn-primary">Editar</button>
    <a asp-action="index" class="btn btn-outline-dark">Voltar</a>

</form>


