@model Logradouro

@{
    ViewData["Title"] = "Cadastro Logradouro";
}

<h1>Cadastro Logradouro</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

@if (@ViewBag.qtdeBairro < 1)
{
    <div class="mb-3">
        <h1>
            <span class="badge bg-danger">
                Não há nenhum Bairro Cadastrado !
                Para cadastrar o logradouro é necessário realizar o cadastro de um Bairro
            </span>
        </h1>
    </div>
    <a asp-action="cadastrar" asp-controller="bairro" class="btn btn-outline-primary">Cadastrar Bairro</a>
}
else
{
    <form asp-action="cadastrar">

        <partial name="_Form" />

        <button class="btn btn-outline-primary">Cadastrar</button>
        <a asp-action="index" class="btn btn-outline-light">Logradouros</a>

    </form>
}
