@model Logradouro

@{
    ViewData["Title"] = "Edição Logradouro";
}

<h1>Edição Logradouro</h1>

<form asp-action="editar">

    <input asp-for="LogradouroId" />
    <partial name="_Form" />

    <button class="btn btn-outline-primary">Editar</button>
    <a asp-action="index" class="btn btn-outline-light">Voltar</a>

</form>