@model Acessibilidade

<div class="mb-3">
    <label asp-for="TipoAcessibilidade"></label>
    <input asp-for="TipoAcessibilidade" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Descricao"></label>
    <textarea asp-for="Descricao" cols="20" rows="2" class="form-control"></textarea>
</div>

<div class="mb-3">
    <input asp-for="Status" />
    <label asp-for="Status"></label>
</div>
