@model Acessibilidade

@{
    ViewData["Title"] = "Edição Acessibilidade";
}

<h1>Edição Acessibilidade</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="editar">
    <input asp-for="AcessibilidadeId" />

    <partial name="_Form" />

    <button class="btn btn-primary">Editar</button>
    <a asp-action="index" class="btn btn-outline-dark">Voltar</a>
</form>
