@model Bairro

@{
    ViewData["Title"] = "Cadastro Bairro";
}

<h1>Cadastro Bairro</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

@if (@ViewBag.qtdeCidade < 1)
{
    <div class="mb-3">
        <h1>
            <span class="badge bg-danger">
                Não há nenhuma Cidade Cadastrada !
                Para cadastrar o bairro é necessário realizar o cadastro de uma Cidade
            </span>
        </h1>
    </div>
    <a asp-action="cadastrar" asp-controller="cidade" class="btn btn-outline-primary">Cadastrar Cidade</a>
}
else
{
    <form asp-action="cadastrar">

        <partial name="_Form" />

        <button class="btn btn-outline-primary">Cadastrar</button>
        <a asp-action="index" class="btn btn-outline-light">Bairros</a>

    </form>
}
