@model Bairro

@{
    ViewData["Title"] = "Edição Bairro";
}

<h1>Edição Bairro</h1>

<form asp-action="editar">

    <input asp-for="BairroId" />
    <partial name="_Form" />

    <button class="btn btn-outline-primary">Editar</button>
    <a asp-action="index" class="btn btn-outline-light">Voltar</a>

</form>